<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%r [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set the default log level from config.properties if available -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
    
    <!-- Set specific logger levels -->
    <logger name="dam" level="INFO" />
</configuration>
